@font-face{
	font-family: "LatoReg";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	src: url("../fonts/Lato-Regular.woff") format("woff");
	src: url("../fonts/Lato-Regular.woff2") format("woff2");
	src: url("../fonts/Lato-Regular.eot") format("embedded-opentype");
}

@font-face{
	font-family: "AvenirNext";
	src: url("../fonts/avenir_next_it_pro_heavy_condensed.ttf") format("truetype");
	src: url("../fonts/avenir_next_it_pro_heavy_condensed.woff") format("woff");
	src: url("../fonts/avenir_next_it_pro_heavy_condensed.woff2") format("woff2");
}

@font-face{
	font-family: "RobotoMedium";
	src: url("../fonts/Roboto-Medium.ttf") format("truetype");
	src: url("../fonts/Roboto-Medium.woff") format("woff");
	src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}


/*	#####	RESPONSIVE: #####	*/

@media only screen and (max-width: 45em){
	/*MOBILE & TAB equiv. 720px*/
	.hiddenMob{
		display: none;
	}
}

@media only screen and (min-width: 45em){
	/*DESKTOP*/
	.hiddenDesk{
		display: none;
	}
	
	#intro{
	width: 100%;
	height: 293px;
}

#introBlock{
	width: 631px;
	padding-right: 230px;
	padding-left: 50%;
	padding-bottom: 40px;
	padding-top: 40px;
}

.exp{
	height: 354px;
	width: 100%;
	display: inline-flex;
	padding-left: 214px;
	padding-top: 70px;
	vertical-align: middle;
}

.sep{
	background: rgba(151,151,151,0.26); 
	width: 66px;
    height: 3px;
    display: block;
}

.expTxtBox{
	width: 600px;
}

#intro, #expMid{
	background: rgba(216,216,216,0.15);
}

.ilu{
	background-color: red;
	border-radius: 50%;
}

#iluTop{
	height: 231px;
	width: 231px;
}

#iluMid{
	margin-right: 100px
}

#iluMid, #iluBot{
	height: 189px;
	width: 189px;
}

#iluTop, #iluBot{
	float: right;
	margin-left: 100px;
}

footer{
	width: 100%;
	border-top: 3px solid #979797;
	display: inline-flex;
}

.logoBot{
	margin-top: 22px;
	margin-left: 60px;
	float: left;
	height: 40px;
	width: 80px;
	background-image:url('../img/logo.png');
	background-repeat: no-repeat;
}

#menuBot{
	float: left;
}

#sign{
	float: right;
}

}

/*	#####	GLOBAL: #####	*/

body{
	width: 100%;
	font-family: "LatoReg", Fallback, sans-serif;
	color: #4A4A4A;
}

header{
	height: 200px;
}

#mainLogo{
	float: left;
	margin-top: 40px;
	margin-left: 100px;
	height: 40px;
	width: 80px;
	background-image:url('../img/logo.png');
	background-repeat: no-repeat;
}

nav#mainMenu{
	float: right;
	font-family: RobotoMedium;
	font-size: 18px;
	color: #28BC83;
	letter-spacing: 0;
	margin-top: 40px;
	margin-right: 40px;
}

ul{
	list-style: none;
}

li{
	display: inline;	
}

a{
	color: #28BC83;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #FFF;
}

a:hover{
	color: #FFF;
	padding: 5px 10px;
	background: #28BC83;
	border: 1px solid #28BC83;
	border-radius: 5px
}

h1, h2{
	font-family: "AvenirNext", Fallback, sans-serif;
	color: #28BC83;	
}

h1{
	font-size: 36px;
}

h2{
	font-size: 24px;
}

/*	#####	FORM: #####	*/

.champForm{
	width: 240px;
	border-radius: 4px;
	border: solid 1px black;
	height: 30px;
}

textarea{
	border-radius: 4px;
	border: solid 1px black;
}

.g-recaptcha{
	background-color: transparent;
	color:#28BC83;
	border: solid 1px #28BC83;
	border-radius: 4px;
	height: 30px;
	width: 80px;
}

.g-recaptcha:hover{
	background-color: #28BC83;
	color:#FFFFFF;
}

.errorMessageCheckFormPhp{
	color: #e66868;
}

.formSucceedMessage{
	color:#28BC83;
	border: solid 2px #28BC83;
	font-weight: bold;

}

.formFailedMessage{
	color: #e66868;
	border: solid 2px #e66868;
	font-weight: bold;
}

.messageForm{
	width: 510px;
}

.messageForm img{
	padding-top: 5px;
}

footer{
	width: 100%;
	border-top: 3px solid #979797;
	display: inline-flex;
}

.logoBot{
	margin-top: 22px;
	margin-left: 60px;
	float: left;
	height: 40px;
	width: 80px;
	background-image:url('../img/logo.png');
	background-repeat: no-repeat;
}

#menuBot{
	float: left;
}

#sign{
	float: right;
}


.sandwich {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.Hide {
	display: none;
}

.Show {
	display: block;
}